/* General reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    background-color: #a2ad6e;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eaeaea;
    width: 100%;
}  

.header-title {
    margin-left: 20px;
}
  
.header-nav {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.header-nav ul {
    justify-content: center;
}

.header-nav ul li a {
    color: black;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-list-item {
    margin-right: 40px; 
}

.nav-list-item a {
    text-decoration: none;
}

.nav-background{
    background-color: #a2ad6e;
}

.logo {
    width: 150px;
    height: 150px;
}  

.logo-ig {
    width: 150px;
    height: 150px;
}

.main-section {
    text-align: center;
    margin-top: 20px;
}

.bg-color {
    background-color: #a2ad6e;
    padding: 15px;
    border-radius: 5px;
}

.carousel {
    max-width: 600px; 
    margin: 0 auto; 
  }

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    text-align: center;
    margin: 20px;
    width: 200px;
}

.product-image  {
    width: 200px;
    height: auto;
}

/* productos.html */

.btn-ver {
    background-color: #a2ad6e;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-ver:hover {
    background-color: aquamarine;
    color: black;
}

/* contactos.html */

form {
    background-color: #a2ad6e;
    padding: 20px;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
}

.btn-enviar {
    background-color: #a2ad6e;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}

footer {
    background-color: #a2ad6e;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid #eaeaea;
}

