.bg-color {
    background-color: $verde;
    padding: 15px;
    border-radius: 5px;
    background: rgb(162,173,110);
    background: linear-gradient(90deg, rgba(162,173,110,1) 9%, rgba(195,202,166,1) 59%, rgba(162,173,110,1) 91%);
}

.main-section {
    text-align: center;
    margin-top: 20px;
}
    
